/Garbage/New Unity Project/
/COMP-248/.metadata/
/COMP-248/Learn Electron in Less than 60 Minutes - Free Beginners Course.mp4
/Shado 2D game TypeScript/node_modules/electron/
/Free Shape collision/node_modules/electron/dist/electron.exe
/TypeScript project sample/node_modules/electron/dist/electron.exe
/**/electron.exe