/**
*
*/

body    {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

#pannel {
    padding: 25px;
    background-color: rgb(26, 26, 89);
    color: white;
    width: 20%;
    min-width: 250px;
    border-radius: 5px;
    position: absolute;
    top: 50px;
}

#pannel div div {
    padding: 15px;
    cursor: pointer;
    transition: background-color 1s, padding-left 1s;
}

#pannel div div:hover {
    padding-left: 30px;
    background-color: rgb(38,38,135);
}

#body   {
    margin-left: 30%;
    margin-top: 5%;
}

tab {
    display: none;
}

.tab {
    background-color: rgb(158, 198, 245);
    padding: 10px;
    border-radius: 10px;
    width: 70%;
}